[project]
	description = C Thread Primitives
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nico Williams (nicowilliams)
[access "refs/for/refs/*"]
	read = group user/Nico Williams (nicowilliams)
	push = group user/Nico Williams (nicowilliams)
	label-Code-Review = -2..+2 group user/Nico Williams (nicowilliams)
	label-Verified = -1..+1 group user/Nico Williams (nicowilliams)
	rebase = group user/Nico Williams (nicowilliams)
	removeReviewer = group user/Nico Williams (nicowilliams)
	submit = group user/Nico Williams (nicowilliams)
[access "refs/heads/*"]
	read = group user/Nico Williams (nicowilliams)
	create = group user/Nico Williams (nicowilliams)
	push = +force group user/Nico Williams (nicowilliams)
	pushMerge = group user/Nico Williams (nicowilliams)
[access "refs/tags/*"]
	push = +force group user/Nico Williams (nicowilliams)
	pushTag = group user/Nico Williams (nicowilliams)
	pushSignedTag = group user/Nico Williams (nicowilliams)
